Appium-Python-Client
attrs
browserstack-local
certifi
charset-normalizer
decorator
docutils
idna
importlib-resources
jsonpath-ng
jsonschema
kitchen
pkgutil_resolve_name
ply
psutil
pyrsistent
python-dotenv
requests
robotframework
robotframework-appiumlibrary
robotframework-seleniumlibrary
robotframework-jsonlibrary
robotframework-pabot
robotframework-stacktrace
selenium
six
urllib3
zipp
